{% comment %}
  2013-09-08 16:03:41 AV
  The javascript that updates these forms can be found in:
  assets/fabric-switcher.js

  The form elements will be populated via a JSON call that contains this
  product's properties (size, fabric, pattern and length).

  Sample JSON output:
  http://ellie-kai.s3.amazonaws.com/assets/avery-dress.json

  This will likely be driven by the Rails CRM.
  Right now the JSON is stored on S3.
{% endcomment %}

<div class="" id="size-validation-message" style="color: red;">
</div>

<div class="select" id="size-dropdown">
  <label>Size:</label>
  <select id="size" name='properties[Size]'>
    <option value="" disabled selected>Please choose</option>
  </select>
</div>

{% comment %}
<div class="select">
  <label>Fabric:</label>
  <select id="fabric" name='properties[Fabric]'>
    <option></option>
  </select>
</div>
{% endcomment %}

<div class="" id="length-validation-message" style="color: red;">
</div>

<div class="select" id="length-dropdown-selector">
  <label>Length:</label>
  <select id="length" name='properties[Length]'>
    <option value="" disabled selected>Please choose</option>
  </select>
</div>

<!--
<div class="select" id="buttons-dropdown-selector">
  <label>Buttons:</label>
  <select id="buttons" name='properties[Buttons]'>
  </select>
</div>
-->

<div class="" id="customization-validation-message" style="color: red;">
</div>

<div class="select" id="customization-dropdown-selector">
  <label>Customize:</label>
  <select id="customization" name='properties[Customization]'>
    <option value="" disabled selected>Please choose</option>
  </select>
</div>

<div class="" id="pattern-name-display">
</div>

<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
<input type="hidden" id="pattern" name="properties[Pattern]" value="" />
<input type="hidden" id="fabric" name="properties[Fabric]" value="" />
<input type="hidden" id="fabric_sku" name="properties[FabricSKU]" value="" />

<div id="swatches" class="group">
</div>

<!-- Step 0: Place to put error messages -->
<div id="error-messages">
</div>

<div id="debug-output" style="display: none;">
</div>
