/* Shopify Wufoo CSS for Ellie Kai Contact Us form */

input.text, input.search, textarea.textarea {
  border: 1px solid #ccc;
  color: #555;
  padding: 5px;
  border-radius: 2px;
  background: #f9f9f9;
  font-size: 13px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
