{% paginate collection.products by settings.pagination_limit %}
  {% assign tag_count = collection.all_tags | size %}
  {% assign tag_threshold = 8 %}

  {% if collection.description != blank %}
<div class="sixteen columns" style="margin: 0 -20px; ">
      <div class="section clearfix">
        {{ collection.description }}
      </div>
    </div>
  {% endif %}

    {% if collection.products.size == 0 %}
      <div class="sixteen columns">
        <div class="section clearfix">
          <p class="quote">No products found in this collection.</p>
        </div>
      </div>
    {% else %}
      {% assign products = collection.products %}
      {% assign products_per_row = settings.products_per_row %}
      {% include 'product-loop' %}
      {% include 'pagination' %}
    {% endif %}
{% endpaginate %}
