<div class="sixteen columns sb-sixteen">
    {{ page.content }}
</div>

<script type="text/javascript">
  // https://github.com/websanova/js-url
  var current_page_value = $.url('file');
  console.log(current_page_value);

  if (current_page_value == 'find'){
    console.log("On the trunk show page.")

    // Load up all the public trunk shows for the week starting from today
    $.getJSON("http://dressingroom.elliekai.com/trunk_shows/public_shows_next_week.json", function(data) {
      // Load up the trunk shows
      source = $("#shows-template").html();
      template = Handlebars.compile(source);
      populated_template = template({ shows : data });
      $("#left-column-shows-list").html(populated_template);
    });

    // NEW: Load up the state selector
    $.getJSON("http://dressingroom.elliekai.com/trunk_shows/list_of_states.json", function(data) {
      source2 = $("#states-template").html();
      template2 = Handlebars.compile(source2);
      populated_template2 = template2({ states : data });
      $("#find-by-state").html(populated_template2);
    });

    // Reload page with State results if State picked
    $(document).on("change", "#pick-a-state", function(){
      state_picked = $(this).val();
      //console.log("State changed: " + state_picked);
      $.getJSON("http://dressingroom.elliekai.com/trunk_shows/search_results_state.json?state=" + state_picked, function(data) {
        source = $("#shows-template").html();
        template = Handlebars.compile(source);
        populated_template = template({ shows : data });
        $("#left-column-shows-list").html(populated_template);
      });
    });

  }

</script>
